main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  position: relative;
}



.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222831;
  padding: 15px;
  color: #fff;
}

.header h1 {
  flex: 1;
  text-align: center;
  font-size: 33px;
}

.main-navigation__header-nav {
  display: block;
}

.title,
.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 60px;
  padding: 10px;
}

.nav-links a {
  margin-left: 15px;
}

.side-drawer {
  position: fixed;
  left: 0;
  top: 113px;
  z-index: 100;
  height: calc(100vh - 60px);
  width: 100%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  overflow-y: auto;
}

.main-navigation__drawer-nav {
  display: flex;
  margin: 20px;
}

/* .item-container {
  margin: 0 40px;
}

.items-title {
  font-size: 1.8rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.item-link {
  text-decoration: none;
  color: black;
}

.item {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

.item h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.item-price {
  color: #333;
  font-weight: bold;
}

.item-description {
  color: #666;
} */

.item-container {
  margin: 10px 10px 10px 10px;
}

.items-title {
  font-size: 1.8rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.item-link {
  text-decoration: none;
  color: black;
}

.item img, .slider img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 15px;
}

.item h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.item-price {
  color: #333;
  font-weight: bold;
}

.item-description {
  color: #666;
}

.item-actions {
  margin-top: 15px;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: #7fdd7f;
  border: 1px solid #7fdd7f;
  color: #1f1a09;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: #54d054;
  border-color: #54d054;
  color: #1f1a09;
}

#event-form label {
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
  color: #3c4249;
  text-transform: uppercase;
}

#event-form input,
#event-form textarea {
  font: inherit;
  font-size: 1.1rem;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.button-text {
  font: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: none;
  color: #3f0c26;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
}

.button-text:hover {
  color: #7c184c;
}

textarea {
  resize: none;
}

.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px; /* Adjust the maximum width as needed */
  margin: auto;
  position: relative;
}

.left-arrow,
.right-arrow {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.active-dot {
  background-color: #333;
}

@media screen and (max-width: 1200px) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}


@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  /* .items {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  } */

  .items {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .item {
    padding: 15px;
  }
  
  .item h3 {
    font-size: 1rem;
  }
  
  .item img {
    margin-bottom: 10px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    color: #222831;
  }

  .nav-links a {
    display: block;
    color: #222831;
    margin: 8px 0;
  }

  .menu-toggle {
    display: block;
    color: #fff;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 20px;
  }

  .main-navigation__header-nav {
    display: none;
  }

  .main-navigation__drawer-nav {
    height: 100%;
  }
}

/* @media screen and (max-width: 767px) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
} */